.promo {
    margin-top: 60px;


    &__wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    img {
        width: auto;
        border-radius: 32px;
    }

    &__text {
        background-color: $blue;
        color: #fff;
        border-radius: 32px;
        padding: 0 60px;
    }

    &__cta {
        width: 210px;
        height: 55px;
        margin-top: 40px;
        background-color: #fff;
        color: #000;
    }
}