.service {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    &__item {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 32px;
    }

    &__about {
        padding: 60px;
    }

    &__descr {
        max-width: 440px;
    }

    &__img {
        width: 590px;
        border-radius: 32px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 55px;
    }

    &__zero {
        text-align: center;
        font-size: 20px;
        color: #970101;
        background-color: white;
        padding: 30px 0;
        border-radius: 12px;
    }
}